[Desktop Entry]
Version=1.0
Type=Application
Name=compton
GenericName=X compositor
Comment=A X compositor
Categories=Utility;
Keywords=compositor;composite manager;window effects;transparency;opacity;
TryExec=compton
Hidden=true
Exec=compton
Hidden=true
Icon=compton
# Thanks to quequotion for providing this file!
