[Desktop Entry]
Type=Application
Name=Transmission Tui
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Keywords=torrents;magnets
Terminal=true
Exec=stig
Icon=electorrent
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet
Categories=Network;FileTransfer;P2P;GTK
X-Ubuntu-Gettext-Domain=transmission
X-AppInstall-Keywords=torrent
