[Desktop Entry]
Categories=Network;FileTransfer;P2P;GTK
Comment[en_US]=Download and share files over BitTorrent
Comment=Download and share files over BitTorrent
Exec=firefox http://localhost:9091
GenericName[en_US]=BitTorrent Client
GenericName=BitTorrent Client
Icon=ktorrent
Keywords=torrents;magnets;
MimeType=application/x-bittorrent;
Name[en_US]=Transmission Web
Name=Transmission Web
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-AppInstall-Keywords=torrent
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Ubuntu-Gettext-Domain=transmission
